@import "tailwindcss";

@theme {
  --color-primary: #ff4d85;
  --color-dark: #121212;
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
}

@layer utilities {
  .clip-curved-bottom {
    clip-path: ellipse(150% 100% at 50% 0%);
  }
}
